<div *ngIf="lead" class="all-leads-card-wrapper d-flex align-item-center justify-content-space-between">
  <div class="all-leads-card-content justify-content-start">
    <p *ngIf="lead.fields.name; else elseBlock" class="fs-18 fw-5 crm-color">{{lead.fields.name}}</p>
    <ng-template #elseBlock>--</ng-template>
    <p class="fs-14">{{lead.fields.phoneNumber}}</p>
    <p class="fs-14">{{lead.creationTimestamp}}</p>
  </div>
  <div class="icons-wrapper d-flex align-item-center">
    <div class="icon-wrapper">
      <span class="fs-20 material-icons-outlined">phone</span>
    </div>
    <div class="icon-wrapper">
      <span class="fs-20 material-icons-outlined">email</span>
    </div>
    <div class="icon-wrapper">
      <span class="fs-20 material-icons-outlined">sms</span>
    </div>
    <div class="icon-wrapper">
      <span><i class="fs-20 fa-brands fa-whatsapp"></i></span>
    </div>
    <div class="icon-wrapper">
      <span class="fs-20 material-icons-outlined">chevron_right</span>
    </div>
  </div>
</div>