.all-leads-card-wrapper {
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.all-leads-card-content{
    width:50%;
    cursor: pointer;
}
.icons-wrapper{
    // border: 1px solid red;
    width: 100%;
    justify-content: space-between;
}
.all-leads-card-wrapper .icon-wrapper{
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
