.all-lead-cards-header {
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.all-lead-cards-header-content{
    width:50%;
}
.icons-names-wrapper{
    width: 100%;
    justify-content: space-between;
}
