<div class="all-lead-cards-header d-flex align-item-center justify-content-space-between">
  <div class="all-lead-cards-header-content justify-content-start">
    <p class="fs-18 fw-5 crm-color">Name</p>
  </div>
  <div class="icons-names-wrapper d-flex align-item-center">
    <span>Call</span>
    <span>Mail</span>
    <span>SMS</span>
    <span>WhatsApp</span>
    <span>More</span>
  </div>
</div>