<div class="toolbar">
    <div class="general-toolbar-menu">
        <button (click)="toggleSidebar()" >
            <span class="material-icons">menu</span>
        </button>
        <p class="user-name-hading">Greetings Kushwah!</p>
        <label class="search-label" id="search-icon" for="search-bar">
            <span class="material-icons-outlined search-icon">search</span>
            <input type="text" class="search-bar" name="search-bar" id="search-bar" placeholder="Search..."
                aria-labelledby="search-icon">
        </label>
    </div>
    <div class="user-toolbar-menu">
        <div class="user-profile">
            <img class="avatar" src="../../../assets/avatars/avatar1.png" alt="avatar">
            <p>Vishal Kushwah</p>
        </div>
        <ul>
            <li>
                <button><a><span routerLink="" routerLinkActive="active"
                            class="material-icons mat-icons">settings</span></a></button>
            </li>
            <li>
                <button><a><span routerLink="" routerLinkActive="active"
                            class="material-icons-outlined mat-icons">notifications</span></a></button>
            </li>
            <li>
                <button><a><span routerLink="" routerLinkActive="active"
                            class="material-icons-outlined mat-icons">mail</span></a></button>
            </li>
            <li>
                <button><a><span routerLink="" routerLinkActive="active"
                            class="material-icons-outlined mat-icons">expand_circle_down</span></a></button>
            </li>
        </ul>
    </div>
</div>