.toolbar {
    color: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.general-toolbar-menu {
    display: flex;
    align-items: center;
}

.user-name-hading {
    margin: 0 35px;
    font-size: 21px;
    font-weight: 500;
}

.search-label {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 5px;
    top: 5px;
}

.search-bar {
    width:20vw;
    padding: 6px 30px;
    border-radius: 20px;
    border: none;
}

.user-toolbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}

ul {
    display: flex;
}

.mat-icons {
    color: black;
    margin: 10px 8px;
    font-size: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
    height:25px;
    padding: 10px 8px;
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 6px;
}