
  <div id="error-page">
    <div class="content m-4">
      <h2 class="header" data-text="404">
        404
      </h2>
      <h4 data-text="Opps! Page not found">
        Opps! Page not found
      </h4>
      <p>
        Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem.
      </p>
      <div class="btns">
        <a href="/l">return home</a>
        <a href="https://www.codingnepalweb.com/">report problem</a>
      </div>
    </div>
  </div>