.all-leads-page {
}
.all-lead-cards {
    width: calc(100% - 400px);
    min-height: 100%;
    min-width: 400px;
}

.crm-filters {
    margin: 0 0 0 20px;
    flex: 1;
    display: flex;
    border: 1px solid black;
}
