<div *ngIf="leads.length>0" class="all-leads-page mt10 d-flex">
    <section class="all-lead-cards">
        <app-all-leads-header></app-all-leads-header>
        <app-all-leads-card *ngFor="let lead of leads" [lead]="lead"></app-all-leads-card>
    </section>
    <section class="crm-filters">
        <app-filters class="flex-grow d-flex"></app-filters>
    </section>
</div>