<div class="container">
  <div class="main-body">
    <div class="row align-items-center mt-5 shadow p-3 bg-body mb-1 rounded ">
      <div class="col-lg-2">
        <div class="card border-0">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                class="rounded-circle p-1 bg-primary" width="110px">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card border-0">
          <div class="card-body">

            <div class="row mb-3">
              <div class="col-sm-3 d-flex align-items-center mb-2">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{lead.fields.name}}
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-3 d-flex align-items-center mb-2">
                <h6 class="mb-0">Phone Number</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{lead.fields.phoneNumber}}
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-3 d-flex align-items-center mb-2">
                <h6 class="mb-0">Alternate Number</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{lead.fields.alternatePhoneNumber}}
              </div>
            </div>

          </div>

          <div class="d-flex justify-content-center">
            <div class="text-secondary">
              <button type="submit" class="btn btn-success px-5">Edit</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>