* {margin: 0;padding: 0;box-sizing: border-box !important;}

html,body{display: block; overflow: auto !important;}
li {list-style: none;}
li a {text-decoration: none;}


.main-container {width: 100%;padding: 0 30px 30px;background-color: #efefef;}
.app-layout .sidebar-container {color: white;padding: 20px 31px;width: 250px;margin-left:0px; transition:all 0.4s; background: linear-gradient(180deg, rgba(42, 27, 92, 1) 0%, rgba(97, 81, 125, 1) 100%);}
.app-content {width: 100%;}
.crm-grad-color {background: linear-gradient(180deg, rgb(42, 27, 92) 0%, rgb(97, 81, 125) 100%)}
.crm-color{color: rgb(42, 27, 92);}
.app-layout {display: flex;width: 100%;min-height: 100%;}

.d-flex {display: flex;}
.all-items-center {display: flex; justify-content: center;align-items: center;}
.align-item-center{align-items: center;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: flex-end;}
.justify-content-start{justify-content: flex-start;}
.justify-content-space-between{justify-content: space-between;}
.material-icons.active {color: rgb(42, 27, 92);}
.icon-whatsapp{font-size: 40px; font-weight: 900;}

.flex-grow{flex:1;}

// font-sizes
// .fs-14{font-size: 14px;}
.fs-16{font-size: 16px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-25{font-size: 25px;}
.fs-35{font-size: 35px;}

//font-weight
.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}

//margins
.m0{margin: 0;}
.m5{margin: 5px;}
.m10{margin: 10px;}
.m15{margin: 15px;}
.m20{margin: 20px;}
.m25{margin: 25px;}

.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}

.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml25{margin-left: 25px;}