<div class="app-layout">
  <app-sidebar [ngClass]="{'showAppSidebar': showSidebar===true}" class="sidebar-container"></app-sidebar>
  <section class="main-container">
    <app-toolbar (emitShowSidebar)="toggleSidebar($event)"></app-toolbar>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>