<section>
  <h1>24x7CRM</h1>
  <h6>Vishal Kushwah</h6>
  <p>Vishal@crm.in</p>
  <section>
    <ul >
      <li routerLink="dashboard" routerLinkActive="active">
        <a routerLinkActive="active"><span class="material-icons icon-spacer">dashboard</span>Dashboard</a>
      </li>
      <li routerLink="add-lead" routerLinkActive="active">
        <a><span class="material-icons icon-spacer">person_add</span>Add Lead</a>
      </li>
      <li routerLink="all-leads" routerLinkActive="active">
        <a><span class="material-icons icon-spacer">people</span>All Leads</a>
      </li>
      <li routerLink="dashboarbd" routerLinkActive="active">
        <a><span class="material-icons icon-spacer">dashboard</span>Dashboard</a>
      </li>
      <li routerLink="add-leasd" routerLinkActive="active">
        <a><span class="material-icons icon-spacer">person_add</span>Add Lead</a>
      </li>
      <li routerLink="all-leadsn" routerLinkActive="active">
        <a><span class="material-icons icon-spacer">people</span>All Leads</a>
      </li>
    </ul>
  </section>
</section>