
.sidebar-container {
    color: white;
    padding: 20px 31px;
    height: 100%;
    width: 250px;
    background: linear-gradient(180deg, rgba(42, 27, 92, 1) 0%, rgba(97, 81, 125, 1) 100%);
}

h1 {
    margin: 0;
}
h6{
    margin-top: 40px;
}
p {
    font-size: 12px;
}

ul {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    width: 200px;
    padding: 0;
}

ul li {
    font-size: 15px;
    list-style: none;
    margin: 3px 0;
    cursor: pointer;
}

ul li a {
    display: flex;
    padding: 8px 20px;
    font-weight: 600;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul li.active a{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.icon-spacer {
    padding: 0 10px 0 0;
    font-size: 20px;
}
