<div class="add-lead-form-wrapper">
  <p class="form-heading">Add Lead Form</p>
  <form [formGroup]="addLeadForm" (ngSubmit)="onSave()" class="add-lead-form">
    <div class="form-input">
      <label class="label-input-name" for="name">Full Name</label>
      <span class="input-field-wrapper">
        <span class="material-icons-outlined input-material-icons">title</span>
        <input type="text" id="name" formControlName="name" placeholder="Name">
      </span>
    </div>
    <div class="form-input">
      <label class="label-input-name" for="email">Email</label>
      <span class="input-field-wrapper">
        <span class="material-icons-outlined input-material-icons">email</span>
        <input type="email" id="email" formControlName="email" placeholder="Email">
      </span>
    </div>
    <div class="form-input">
      <label class="label-input-name" for="phonenumber">Phone</label>
      <span class="input-field-wrapper">
        <span class="material-icons-outlined input-material-icons">phone</span>
        <input type="tel" id="phonenumber" formControlName="phoneNumber" placeholder="Phone">
      </span>
    </div>
    <div class="form-input">
      <label class="label-input-name" for="altphonenumber">Alternate Phone</label>
      <span class="input-field-wrapper">
        <span class="material-icons-outlined input-material-icons">phone</span>
        <input type="tel" id="altphonenumber" formControlName="alternatePhoneNumber" placeholder="Alternate Phone">
      </span>
    </div>
    <div class="btn-wrapper">
      <button class="btn" id="btn">
        <input type="submit" class="crm-grad-color" value="Add Lead"/>
      </button>
    </div>
  </form>
</div>