.add-lead-form-wrapper {
    // border: 1px solid red;
    width: 100%;
}

.form-heading {
    font-weight: 500;
    font-size: 20px;
}

.add-lead-form {
    padding: 20px 20px 15px 0;
    justify-content: space-around;
    align-items: center;

}

.form-input label {
    display: block;
    padding: 20px 0px 10px 0;
}

.input-field-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    // border: 1px solid red;
}

.input-material-icons {
    position: absolute;
    z-index: 1;
    padding: 0 8px;
    font-weight: 100;
}

.form-input input {
    width: 100%;
    height: 40px;
    margin-right: 0;
    border: none;
    padding: 0px 40px;
    border-radius: 5px;
}
.form-input input:focus {
    outline: none !important;
    border-color: 1px solid #efefef;
    box-shadow: 0 2px 5px 1px #00000050;
}

.btn-wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 8px;
}

.btn input {
    padding: 10px;
    width: 100px;
    justify-content: center;
    border: 1px solid black;
    color: white;
    font-weight: 600;
    border-radius: 8px;
}

.btn input:active {
    box-shadow: inset 0 0 5px 2px rgb(167, 136, 219);
    outline: none;
}
