<div class="container">
  <div class="main-body">
    <div *ngIf="lead" class="row align-items-center mt-5 shadow p-3 bg-body mb-1 rounded ">
      <div class="col-lg-2">
        <div class="card border-0">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                class="rounded-circle p-1 bg-primary" width="110px">
            </div>
          </div>
        </div>
      </div>

      <form [formGroup]="editLeadForm">
        <div class="col-lg-8">
          <div class="card border-0">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3 d-flex align-items-center mb-2">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input class="form-control" formControlName="name" type="text" placeholder="Enter Full Name" />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-3 d-flex align-items-center mb-2">
                  <h6 class="mb-0">Phone Number</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input class="form-control" formControlName="phoneNumber" type="text" name="phoneNumber"
                    placeholder="Enter Phonenumber">
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-3 d-flex align-items-center mb-2">
                  <h6 class="mb-0">Alternate Number</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input class="form-control" formControlName="alternatePhoneNumber" type="text"
                    name="alternatePhonenumber" placeholder="Enter Alternate Phonenumber">
                </div>
              </div>

            </div>
            <div class="d-flex justify-content-center">
              <div class="text-secondary">
                <input type="submit" class="btn btn-success px-4" [disabled]="isFormDirty || savingChanges"
                  (click)="onSave()" value="Update Lead Data">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>